
body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    background-color:#EAF2D7;
    justify-content: space-between;
    align-items:center;
    margin:0;
    gap:10px;
}

.header {
    display: flex;
    background-color: #DFD7F2;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    justify-content: center;
    align-self:stretch;
}

.home {
    margin:15px;
}

.dish {
    margin: 15px;
    font-family:'Times New Roman', Times, serif;
    text-decoration:underline;
}

.content {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

#thin {
    max-width: 50%;
}

.footer {
    display: flex;
    background-color:#DFD7F2;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    justify-content: center;
    align-self:stretch;
}

.card {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    margin: 10px;
    background-color:white;
}

#rec {
    align-self:flex-start;
}

ul {
    list-style: none;
    padding-left:0px;
}

a {
    text-decoration: none;
    color:black;
}

.foot {
    text-decoration:underline;
}

.caption {
    text-align:center;
    font-size:25px;
    font-family: monospace, 'Courier New', courier;
    padding:20px;
    margin:0px;
}

.head1 {
    font-size:30px;
}

.head2 {
    font-size:20px;
}
img {
    width:auto;
    height:250px;
    border-radius:15px;
    box-shadow: 2px 5px 20px #B7AED5;
}